		<footer class="footer">
			<p class="copyright centered">© company name 2016</p>
		</footer>
		

	    <!-- Bootstrap core JavaScript: Place at end of the document so pages load faster -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>