<%- include('partials/layout-head') -%> 
<%- include('partials/navbar') -%>		

		<div id="indexwrap">
			<div class="container">
				<div class="row centered">
					<div class="col-xs-6 col-md-4"></div>
					<div class="col-xs-6 col-md-4">
						<h3 class="slogan">Slogan</h3>
						<a href="/auth/register" class="btn btn-warning btn-lg">Get Started</a>				
					</div>
					<div class="col-xs-6 col-md-4"></div>	
				</div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row mt centered">
				<div class="col-lg-6 col-lg-offset-3">
					<h1>My Web App is for ___</h1>
					<h3>Value Proposition</h3>
				</div>
			</div><!-- /row -->
			
			<div class="row mt centered">
				<div class="col-xs-6 col-md-4">
					<img src="../images/ser01.png" width="180" alt="">
					<h4>Feature A</h4>
					<p>Description</p>
				</div>

				<div class="col-xs-6 col-md-4">
					<img src="../images/ser02.png" width="180" alt="">
					<h4>Feature B</h4>
					<p>Description</p>
				</div>

				<div class="col-xs-6 col-md-4">
					<img src="../images/ser03.png" width="180" alt="">
					<h4>Feature C</h4>
					<p>Description</p>
				</div>
			</div><!-- /row -->
		</div><!-- /container -->

<%- include('partials/layout-foot') -%> 